In [9]:
import pandas as pd


df = pd.read_csv(
    '../data/feed-views.log',
    sep='\t',
    skiprows=2,
    skipfooter=2,
    engine='python',
    names=['datetime', 'user'],
    index_col='datetime'
)


df.index.name = 'date_time'

In [10]:
df.head()

                              user
date_time
2020-04-17 12:27:30.646665   artem
2020-04-17 12:35:44.884757   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [13]:
df.tail(10)

                                 user
date_time
2020-05-21 01:46:08.730098  valentina
2020-05-21 01:57:58.652380      pavel
2020-05-21 12:33:32.521770      maxim
2020-05-21 12:33:32.812265      maxim
2020-05-21 16:28:28.217529  ekaterina
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [12]:
df.to_csv('../data/feed-views-semicolon.log', sep=';')